 <div class="modal-header" >
   <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">×</button>
    <ekprice>$180000 <i class="fa fa-info-circle" aria-hidden="true"></i></ekprice>
        <div class="modal-Address">
            <div class="address">
              <h4>124 Henry St, newyork, NY 10092M <i class="fa fa-share" aria-hidden="true"></i></h4>
              <i>Last Activity 3 days ago</i>
            </div>
        </div>
  </div>
      <div class="modal-body">
        <div class="row min-h-1000">
        <div class="col-md-8 col-sm-12">
		<ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">CheckList (1/11)</a></li>
                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">MESSAGES(5)</a></li>
                                    </ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="home">					
			<ul class="checklist-ul">
			  <li ng-repeat="list in checklist track by $index"   >
				<div class="form-group">
				  <div class="checkbox">
					<label>{{$index + 1}} <input 
						  type="checkbox" 
						  name="mycheckbox" 
					class=""
						  ng-model= "list.checked"
						  ng-click="getSequence(list)"
						  ng-disabled="disabledList.indexOf(list.sequenceId) == -1"
						  ng-value='list.sequenceId'
						  ng-checked='checkeddList.indexOf(list.sequenceId) != -1'
					
							/>  
						<span  ng-class="{strikethrough: list.checked}">	{{list.name}}</span></label>
				  </div>
				</div>
			  </li>
			  </ul>
			<div class="col-md-6 gray-bg">
				Image <br/>
				Here
			</div>		
		</div>
		<div role="tabpanel" class="tab-pane" id="profile">
		<br/>
		<br/>
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
	</div>
	   </div>
<div class="col-md-3 col-sm-12 offer-right">
  <div class="card padding-20 deal-card">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="avatar"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%288%29.jpg" class="rounded-circle img-responsive"></div></div>
        <div class="col-md-8 col-sm-8 col-xs-8"><h4 class="card-title">Anna Doe</h4><i class="in-active-text">Not yet rated</i> &nbsp; <i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
          <br/><br/>
          <p class="verify-list"><i class="fa fa-check" aria-hidden="true"></i> Verified identity</p>
          <p class="verify-list"><i class="fa fa-check" aria-hidden="true"></i> Verified identity</p>
          <p class="verify-list"><i class="fa fa-check" aria-hidden="true"></i> Verified identity</p>
        </div>
        
    </div>
    <div class="blue-bg padding-20 margin-n20">Hi How are you</div>
    <div class="bg-eee margin-n20 relative">
        <div class="padding-20">
          <p class="color-666">Make an offer to Jill:</p>
          <div class="form-group">
            <label for="" class="color-blue">Offer Amount <i class="fa fa-info-circle" aria-hidden="true"></i></label><br/><br/>
            <input type="text" class="form-control" placeholder="$3000000" />
          </div>
            <div class="form-group in-row clearfix">
              <label for="" class="color-blue">Down Payment <i class="fa fa-info-circle" aria-hidden="true"></i></label><br/><br/>
              <input type="text" class="form-control price" placeholder="$3000000" /> <select class="form-control percent"><option>1%</option><option>5%</option></select> 
            </div>
			<div class="form-group">
            <label for="" class="color-blue">Financial Contigency<i class="fa fa-info-circle" aria-hidden="true"></i></label><br/><br/>
            <select class="form-control"><option>15 Days</option><option>30 Days</option></select>
          </div>
		  <div class="form-group">
            <label for="" class="color-blue">Time to close<i class="fa fa-info-circle" aria-hidden="true"></i></label><br/><br/>
            <select class="form-control"><option>15 Days</option><option selected>30 Days</option></select>
          </div>
		  <div class="form-group">
            <label for="" class="color-blue">Inspection Contigency <i class="fa fa-info-circle" aria-hidden="true"></i></label><br/><br/>
            <select class="form-control"><option>15 Days</option><option>30 Days</option></select>
          </div>
		  
		  <div class="form-group">
            <label for="" class="color-blue ">Offer Expriration Date<i class="fa fa-info-circle" aria-hidden="true"></i></label><br/><br/>
            <select class="form-control"><option>15 Days from now (May, 20, 2017)</option><option>30 Days</option></select>
          </div>
		  
        </div>
		<button class="btn btn-easyknock absolute sticky-btn" >Submit Offer</button>
		<div class="text-uppercase align-center absolute cancel-deal"><a href="#">Cancel Deal</a></div>
    </div>
</div>
</div>

</div>
      </div>
      <div class="modal-footer">
       
      </div>

       <style>
         .strikethrough {
            text-decoration: line-through;
          }
          
         </style>