<div class="checklist-model-window">
<div class="modal-header" ng-init="getModalCheckList()">
   <div class="checklist-box">
   <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true"><i class="icon-close size-13"></i></button>
    <ekprice> {{propertyObject.property.interestPrice}} (est)<i class="fa fa-info-circle" aria-hidden="true"></i></ekprice>
        <div class=" col-md-8 modal-Address">
            <div class="address">
              <h4>{{ propertyObject.address.propertyAddress}} <i class="fa fa-share" aria-hidden="true"></i></h4>
              <i>Last Activity 3 days ago</i>
            </div>
        </div>
   </div>
  </div>
      <div class="modal-body checklist-model ">	
        <div class="row">
        <div class="col-md-8 col-sm-12">
		
		<ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">CheckList ( {{checkListCurrentStatus}} /{{checklist.length}})</a></li>
                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">MESSAGES(5)</a></li>
                                    </ul>

	<!-- Tab panes -->
	<div class="tab-content margin-top-15 ">
		<div role="tabpanel" class="tab-pane active" id="home">					
			<ul class="checklist-ul">
			  <li ng-repeat="list in checklist track by $index"   >
				<div class="form-group">
				  <div class="checkbox roundedCheckbox">
					<label class="margin-left-right-10"> <input 
						  type="checkbox" 
						  name="mycheckbox" 
							class=""
						  ng-model= "list.checked"
						  ng-click="getSequence(list , 0)"
						  ng-disabled="disabledList.indexOf(list.sequenceId) == -1"
						  ng-value='list.sequenceId'
						  ng-checked='checkeddList.indexOf(list.sequenceId) != -1'
					
							/>  
					<span class="margin-left-20">{{$index+1}} &nbsp;</span> 
						<span  ng-class="{strikethrough: list.checked ,italic: list.checked , activeButton : (disabledList.indexOf(list.sequenceId) != -1 && !list.checked)} "  >	{{list.name}}  </span>                        
                         <span class="size-13 italic text-right" style="right: 0;bottom: 0;position: absolute;margin-right: 15px;" ng-if="propertyObject.property.contactedViaBulk && ($index+1 == 1)">Buyer contacted you via bulk-request <i class="icon-message-information2 size-14 blue"></i></span>
                        <span style="right: 0;bottom: 0;position: absolute;margin-right: 15px;" ng-if="list.name=='Hire concierge (optional)'"   ng-click="getSequence(list , 1)"> {{skipConcierge}} </span> 
                        <span style="right: 0;bottom: 0;position: absolute;margin-right: 15px;" ng-if="list.name=='Hire an attorney (optional)'" ng-click="getSequence(list , 2)">{{skipAttorney}} </span>
                    </label>
				  </div>
				</div>
			  </li>
			  </ul>
			
		</div>
		<!--<div role="tabpanel" class="tab-pane" id="profile">
		<br/>
		<br/>
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>-->
	</div>
</div>
<div class="col-md-4 offer-right">
  <div class="card padding-20 deal-card">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="avatar"><img src="{{propertyObject.property.userAvatar}}" class="rounded-circle img-responsive"></div></div>
        <div class="col-xs-8"><h4 class="card-title">{{propertyObject.property.buyerName}}</h4><i class="in-active-text" ng-if="!propertyObject.property.userRating">Not yet rated</i> 
           <p class="verify-list" ng-if="propertyObject.property.idVerification"><i class="icon-check black" aria-hidden="true"></i> Verified identity</p>
 					 <p class="verify-list" ng-if="propertyObject.property.financeVerification"><i class="icon-check black" aria-hidden="true"></i> Verified financials</p>
 

             <div ng-if="propertyObject.property.userRating" class="user-rating italic lightGrey size-13">
                                                <div class="rating star-icon value-{{propertyObject.property.userRating}}">
                                                    <div class="star-container">
                                                        <div class="star">
                                                            <i class="star-empty"></i>
                                                            <i class="star-half"></i>
                                                            <i class="star-filled"></i>
                                                        </div>
                                                        <div class="star">
                                                            <i class="star-empty"></i>
                                                            <i class="star-half"></i>
                                                            <i class="star-filled"></i>
                                                        </div>
                                                        <div class="star">
                                                            <i class="star-empty"></i>
                                                            <i class="star-half"></i>
                                                            <i class="star-filled"></i>
                                                        </div>
                                                        <div class="star">
                                                            <i class="star-empty"></i>
                                                            <i class="star-half"></i>
                                                            <i class="star-filled"></i>
                                                        </div>
                                                        <div class="star">
                                                            <i class="star-empty"></i>
                                                            <i class="star-half"></i>
                                                            <i class="star-filled"></i>
                                                        </div>
                                                    </div>
                                                </div>       
                                            </div>
        </div>
        
    </div><br/><br/><br/>
    <div class="blue-bg padding-20 margin-n20 absolute bottom bottom-rounded full-width text-center" ng-if="propertyObject.property.contactedViaBulk">Contacted via bulk-request <i class="icon-message-information2 size-14"></i></div>
</div>
	<div class="text-uppercase align-center cancel-deal margin-top-15"><span class="darkGrey" ng-click="updateSellerDealStatus(3)">Cancel Deal</span></div> 
	<br/><br/>
	<div class="card padding-20 left-0">
		<div class="color-blue text-center">Helpful Tips:</div>
		<ul class="help-tips">
			<li>
                Did you know that high resolution listing photos can increase your chances of a sale by up to 110%
                <br/><a href="#">Read more</a></li>
			<li>Studies have shown that cleaning up for a house showing and freshening the air inside have correlated with higher chance in sale <br/><a href="#">Read more</a></li>
			<li>Increase your trust and credibility to the seller by verifying your identity <br/><a href="#">Get verified</a></li>
			<li>Understand how the EasyKnock process works in detail <br/><a href="#">How it Works</a></li>
			<li>Trust and safety are the highest priority with EasyKnock. Learn more on our Resource center: <br/><a href="#">Learn about safety</a></li>
			
		</ul>
	
    </div>
</div>
</div>
<div class="row">
    <div class="col-md-4 margin-top-15"><div class="bottom-card gray-bg ">Image Here</div></div>
    <div class="bottom-note"><i>It is a long established fact that a reader will be distracted </i><i class="fa fa-info-circle color-blue" aria-hidden="true"></i></div> 
</div>
</div>
<div class="modal-footer">
        
</div>
 