 <div class="modal-header" >
   <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true">×</button>
    <ekprice>$180000 <i class="fa fa-info-circle" aria-hidden="true"></i></ekprice>
        <div class="modal-Address">
            <div class="address">
              <h4>124 Henry St, newyork, NY 10092M <i class="fa fa-share" aria-hidden="true"></i></h4>
              <i>Last Activity 3 days ago</i>
            </div>
        </div>
  </div>
      <div class="modal-body" >	
        <div class="row min-h-1000">
        <div class="col-md-8 col-sm-12">
		
		<ul class="nav nav-tabs" role="tablist">
                                        <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">CheckList ( {{disabledList[0]}} /{{checklist.length}})</a></li>
                                        <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">MESSAGES(5)</a></li>
                                    </ul>

	<!-- Tab panes -->
	<div class="tab-content">
		<div role="tabpanel" class="tab-pane active" id="home">					
			<ul class="checklist-ul">
			  <li ng-repeat="list in checklist track by $index"   >
				<div class="form-group">
				  <div class="checkbox">
					<label> {{$index+1}} &nbsp; <input 
						  type="checkbox" 
						  name="mycheckbox" 
							class=""
						  ng-model= "list.checked"
						  ng-click="getSequence(list)"
						  ng-disabled="disabledList.indexOf(list.sequenceId) == -1"
						  ng-value='list.sequenceId'
						  ng-checked='checkeddList.indexOf(list.sequenceId) != -1'
					
							/>  
						<span  ng-class="{strikethrough: list.checked}"  checklist-bgcolor >	{{list.name}}</span></label>
				  </div>
				</div>
			  </li>
			  </ul>
			<div class="col-md-6 gray-bg">
				Image <br/>
				Here
			</div>
		</div>
		<div role="tabpanel" class="tab-pane" id="profile">
		<br/>
		<br/>
		Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</div>
	</div>
</div>
<div class="col-md-3 col-sm-12 offer-right">
  <div class="card padding-20 deal-card">
    <div class="row">
      <div class="col-md-4 col-sm-4 col-xs-4">
        <div class="avatar"><img src="https://mdbootstrap.com/img/Photos/Avatars/img%20%288%29.jpg" class="rounded-circle img-responsive"></div></div>
        <div class="col-md-8 col-sm-8 col-xs-8"><h4 class="card-title">Anna Doe</h4><i class="in-active-text">Not yet rated</i> &nbsp; <i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i><i class="fa fa-star-o" aria-hidden="true"></i>
          <br/><br/>
          <p class="verify-list"><i class="fa fa-check" aria-hidden="true"></i> Verified identity</p>
          <p class="verify-list"><i class="fa fa-check" aria-hidden="true"></i> Verified identity</p>
          <p class="verify-list"><i class="fa fa-check" aria-hidden="true"></i> Verified identity</p>
        </div>
        
    </div><br/><br/><br/>
    <div class="blue-bg padding-20 margin-n20 absolute bottom bottom-rounded full-width">Hi How are you</div>
</div><br/><br/><br/><br/>
	<div class="text-uppercase align-center cancel-deal"><a href="#">Cancel Deal</a></div> 
	<br/><br/>
	<div class="card padding-20 absolute left-0">
		<div class="color-blue text-center">Helpful Tips:</div>
		<ul class="help-tips">
			<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br/><a href="#">Read more</a></li>
			<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br/><a href="#">Read more</a></li>
			<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br/><a href="#">Read more</a></li>
			<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br/><a href="#">Read more</a></li>
			<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br/><a href="#">Read more</a></li>
			<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br/><a href="#">Read more</a></li>
			<li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. <br/><a href="#">Read more</a></li>
		</ul>
	<div class="align-center absolute bottom-note"><i>It is a long established fact that a reader will be distracted </i><i class="fa fa-info-circle color-blue" aria-hidden="true"></i></div> 
    </div>
</div>
</div>

</div>

      </div>
      <div class="modal-footer">
       
      </div>
 