
body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00B7FF;
}
.modal-header{
  background-image:url('../images/pexels-photo-106399.jpeg');
  background-repeat: no-repeat;
  background-color:#ccc;
  background-size:cover;
  background-position:center;
}
 .modal-content .checklist-model-window  .modal-header{
  padding-left:0;
  padding-right:0px;
  min-height:280px;
  position: relative;
}
 .modal-content .checklist-model-window  .modal-header::after{
    display: table;
    content: " ";
	background: -webkit-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); 
    background: -o-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); 
    background: -moz-linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1)); 
    background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
    position: absolute;
    bottom: 0;
    height: 100px;
    width: 100%;
	color:#FFF;
 }
.checklist-model-window  .modal-header .modal-Address{
	position: absolute;
	bottom:0;
	padding-bottom:30px;
	z-index:9;
}
.eKnock .modal-header .close{
  color: #FFF;
  opacity: 0.6;
  margin-right:20px;
}

ekprice{background:#FF008A; color:#fff; font-size:24px; float:left; padding:5px; position: absolute; top: 0; left: 0;}
/*<i class="fa fa-info-circle" aria-hidden="true"></i>*/
.modal-backdrop{background: rgba(0,0,0,.9);}
.address{color:#fff;}
.modal-Address{margin: 100px 25px 0px 25px;}
.offer-right{position: relative; top:-160px;}
.padding-20{padding:20px;}
.padding-10{padding:10px;}
.padding-5{padding:5px;}
.avatar{ border-radius: 50%;overflow: hidden;position: relative;}
.avatar img{width:100%; height: inherit;}
/*.deal-card{border-radius: 5px; position: absolute; left: 0; top: -200px;}*/
.deal-card{border-radius: 5px; }
.in-active-text, .verify-list{color:#CCC;}
.verify-list .fa-check{color:#000041;}
.blue-bg{background: #000041; color:#fff;}
.margin-n20{margin: 0 -20px;}
.gray-bg{background:#ccc;}
.bg-eee{background:#eee;}
.color-666{color:#666;}
.color-blue{color:#000041 !important;}
.form-control{background:#fff !important; padding:0 10px;}
.in-row input, .in-row select{display:inline-block; width:auto; box-sizing: border-box;}
.in-row input.price{width:75%; float:left;}
.in-row select.percent{width:24%; border-left:solid 1px #ccc; float:left; }
.close{color:#fff;text-shadow: 0 1px 0 #333;}
.close:hover{color:#333;text-shadow: 0 1px 0 #fff;}
.relative{position:relative;}
.absolute{position:absolute;}
.btn-easyknock{background:#FF008A; color:#fff !important; border-radius:25px; width:100%; text-transform:uppercase;}
.btn.btn-easyknock:hover{background-color:#19C7B8!important;  }
.sticky-btn{width:80%; margin:10% 10%; bottom: -70px; padding: 15px;}
.text-uppercase, .deal-card label{text-transform:uppercase;}
.cancel-deal{right: 0; left: 0;text-align: center;}
.bottom{bottom:0;}
.bottom-rounded{border-radius:0 0 5px 5px;}
.content-box{box-sizing:content-box}
.left-0{left:0;}
.right-0{right:0;}
.help-tips{margin:40px; padding:0;}
.help-tips li {margin-bottom:20px;color:#999;}
.help-tips li  a{color:#999;}
.bottom-note{    
	position: absolute;
    bottom: 0;
    display: inline-block;
    text-align: right;
    left: inherit;
    right: 20px;
}
.bottom-card{
	position: absolute;
    bottom: 0;
	min-height:200px;
	width:100%;
    display: inline-block;
    text-align: right;
    left: 0;
    right: inherit;
}
.checklist-model{
	margin-bottom:20px;
}
.min-h-1000{min-height:1000px;}
.nav-tabs{background:transparent;}
.nav-tabs .active {border-bottom:solid 2px #009688}
.nav-tabs li a, .nav-tabs li a:hover, .nav-tabs li a:focus{color:#009688 !important; text-transform:uppercase;}
.nav-tabs .active a{color:#009688 !important}
.checklist-ul{list-style:none; margin-top:20px; border:solid 1px #eee;	padding:0; border-bottom:none;}
.checklist-ul li{padding:0; border-bottom:#eee solid 1px;}
.checklist-ul li .form-group{margin:0; }
.checklist-ul li{margin:0; padding:0;}
.checklist-ul li .checkbox{margin:10px;}

.checklist-ul .roundedCheckbox .check{
	border-radius:50%;
}
.strikethrough {
            text-decoration: line-through;
}
.activeButton {
    color:#009688 ;
}
.margin-top-25{margin-top:25px;}
.margin-top-40{margin-top:40px;}
.margin-top-45{margin-top:45px;}
.margin-top-50{margin-top:50px;}
.margin-bottom-70{margin-bottom:70px;}
.rating{justify-content:left;}
@media (max-width: 768px) {
	.eKnock .align-sm-center{
		text-align: center;
	}
	.eKnock .align-sm-left{
		text-align: left;
	}
	.eKnock .align-sm-right{
		text-align: right;
	}
	.eKnock .margin-tp-0-sm{
		margin-top: 0;
	}
	.eKnock .margin-bt-0-sm{
		margin-bottom: 0;
	}
	.eKnock .margin-tp-10-sm{
		margin-top: 10px;
	}
	.eKnock .margin-bt-10-sm{
		margin-bottom: 10px;
	}
	.eKnock .padding-tp-0-sm{
		padding-top: 0;
	}
	.eKnock .padding-bt-0-sm{
		padding-bottom: 0;
	}
	.eKnock .padding-tp-10-sm{
		padding-top: 10px;
	}
	.eKnock .padding-bt-10-sm{
		padding-bottom: 10px;
	}
	/*.eKnock .jumboCard{padding:10px;}*/
	.eKnock .min-height-198{
		min-height: 140px;
	}
}
.jumboCard:hover .price-info{opacity: 1;}


@media (max-width: 991px) {
	.eKnock .deal-card{
		top:0;
		position: relative;
	} 
	.eKnock .bottom-card{
		position: relative;
	}
	.eKnock  .offer-right{
		top:0;
	}
	.eknock .cancel-deal{
		bottom: 0;
	}
}
