<div id="modal" >
    <div>
        <button type="button" class="close" data-dismiss="modal" ng-click="cancel()" aria-hidden="true"><i class="icon-close size-13"></i></button>
 
        <h4> Favorites ({{favoritePropertiesCount}}) </h4>
    </div>
    <div class="modal-body">

        <div class="row" ng-repeat=" favorites in userFavoritesObjArray">
            <div class="col-sm-6">
                <div class="searchCard">
                    <div class="relative">
                        <img src="images/6154074882_52ec40c20b_o.jpg" class="full-width" />
                        <div class="price-info uppercase letterSpacing-1 weight500">{{favorites.propertyValue}}<span>(est)</span></div>
                        <div class="reply-icon"><i class="icon-out"></i></div>
                        <div class="address-info">
                            <div class="bold">{{favorites.propertyAddress}}</div>
                            <div>{{favorites.propertyBeds}} bed, {{favorites.propertyBathNos}} bath,{{favorites.propertySqFeet}}
                                sq ft</div>
                            <div class="favIcon">
                                <input type="checkbox" ng-model="favorites.checked" ng-click="removeFavorite(favorites)" ng-value='favorites.propertyId'
                                />
                            </div>
                        </div>
                    </div>
                    <div class="relative darkGrey padding-15">
                        <div><i class="icon-view"></i> 23 total Views</div>
                        <div><i class="icon-chat"></i> 4 people intrested</div>
                    </div>
                </div>
            </div>
        </div>
        <div ng-if="userFavoritesObjArray.length === 0">You currently have no Favorites</div> 
    </div>
</div>