<div class="container-fluid shadowBox">
    <div class="col-md-8">
        <div class="margin-top-20">
            <a href="" class="links uppercase normal line-height-30"><i class="icon-filter-standard"></i> filter</a> &nbsp;&nbsp;
            <span>{{propertyDetailsJson.length}} Results</span>&nbsp;
            <span type="button" class="btn btn-lg btn-raised btn-primary btn-radius uppercase  margin-0" ng-click="onContactAllHomeowners(propertyDetailsJson)">Contact all {{propertyDetailsJson.length}} homeowners</span>
        </div>
    </div>
    <div class="col-md-4">
        <div class="margin-top-30 margin-bottom-30 text-right">
            <a href="" class="links uppercase normal line-height-30 margin-right-30" ng-click="showSavedSearches('user_id')">Saved searches</a>
            <a href="" class="links uppercase normal line-height-30" ng-click="showFavorites('user_id')">Favorites <span ng-if="favoritePropertiesCount">({{favoritePropertiesCount}})</span></a>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 col-md-6" id="flat-cards" infinite-scroll="getPropertyDetailsinfiniteScroll()">
            <div class="row">
                <div class="col-xs-12 sub-tabs">
                    <ul class="list-inline uppercase normal">
                        <li class="active" ng-click="propertySortBy('id')">Price</li>
                        <li ng-click="propertySortBy('apn')">Bedrooms</li>
                        <li ng-click="propertySortBy('')">Squarefeet</li>
                    </ul>
                </div>
            </div>

            <div class="col-sm-6" ng-repeat="property in propertyDetailsJson">
                <div class="searchCard">
                    <div class="relative" ng-click="viewPropertyDetails(property)" ng-mouseover="showDetail(property)">
                        <img src="images/6154074882_52ec40c20b_o.jpg" class="full-width" />
                        <div class="price-info uppercase letterSpacing-1 weight500">${{property.id}}<span>(est)</span></div>
                        <div class="reply-icon"><i class="icon-out"></i></div>
                        <div class="address-info">
                            <div class="bold">{{property.street_address}}../{{property.city}},{{property.state}}...</div>
                            <div>5 bed, 3 bath, 4,810 sq ft</div>
                        </div>
                    </div>
                    <div class="relative darkGrey padding-15">
                        <div><i class="icon-view"></i> 23 total Views</div>
                        <div><i class="icon-chat"></i> 4 people intrested</div>
                        <div class="favIcon">
                            <input type="checkbox" ng-model="property.checked" ng-click="saveFavorite(property)" ng-value='property.id' /></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-6" id="mapConteroller">
            <ng-map center="41.85,-87.65" zoom="10">
                <marker id='{{property.id}}' 
                        position="{{property.latitude}},{{property.longitude}}" 
                        ng-repeat="property in propertyDetailsJson"
                        on-click="viewPropertyDetailsMap(property)" 
                        on-mouseover="showDetailMap(property)" 
                        icon="{path:'CIRCLE', scale: 6, strokeOpacity: 1.0, fillOpacity: 1, fillColor: 'red',  strokeColor: 'white',strokeWeight: 3, zIndex:10}">
                </marker>
                <info-window id="info-iw">
                    <div ng-non-bindable="" ng-click="viewPropertyDetails(propertyDetails)">
                        <img width="64" src="images/6154074882_52ec40c20b_o.jpg" align="center" /><br/>
                        id: {{propertyDetails.id}}<br/>
                    </div>
                </info-window>
            </ng-map>
            <nav class="map-nav">
                <div class="row">
                    <div class="col-md-12">
                        <div class="checkbox black">
                            <label><input type="checkbox" ng-model="expandMap" id="expandMap" ng-click="expand()"> &nbsp; Make map larger</label>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="checkbox black">
                            <label>
								<input type="checkbox" id="mapMoveAround"> &nbsp; When move around the map, update results
							</label>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>
</div>